<div class="flex border h-screen">
  <div class="bg-red-300 w-1/5 h-100vh">
    <div>
      <p class="header">Location Now</p>
    </div>
    <div>
      <p class="header">Time Range</p>
    </div>
    <div>
      <p class="header">Day</p>
    </div>
    <div>
      <p class="header">Genre</p>
    </div>
  </div>
  <div class="flex flex-col w-4/5">
    <div class="bg-green-300 w-full h-1/5 px-10">
    </div>
    <div class="bg-blue-300 w-full h-4/5 px-10">
      <p class="third header">Studios in <%= params[:query].capitalize %></p>
      <% @dance_classes.map { |dance_class| dance_class.studio}.uniq.each do |studio| %>
        <p class="header"><%= studio %></p>
      <% end %>
    </div>
  </div>
</div>
