/* Import CSS Files */

@import './navbar.css';
@import './text.css';
@import './banner.css';
@import './button.css';
@import './form.css';

/* Tailwind */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

/* Import External Sources */

@import 'font-awesome';

/* Global CSS */

 .main-container {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
 }

 .home-bg {
  background-color: #f0efe2;
 }
